// ----------------------------------------------
// Background Style
// ----------------------------------------------

.radial-gradient {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.3;
        background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        animation: 15s ease 0s infinite normal none running gradient;
    }
}